.searchBlock {
  display: flex;
  border-radius: 8px;
  padding: 5px 10px;
  width: 246px;
  background-color: #FFFFFF;
  border: 2px solid #E9ECEF;

  &:hover {
    border: 2px solid #d2d4d5;
  }
  .icon {
    color: rgba(255, 255, 255, 0.566);
  }
  .input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    color: rgba(23, 23, 23, 0.684);
  }
}
